*.o
moc_*
*.exe
*.dll
*.so
*.lib
*.so.*
*.diff
ui_*
.svn/
debug
release
*.Debug
*.Release
Debug/
Release/
*.idb
*.pdb
Makefile
*.exp
*.suo
*.ncb
*.user
qrc_*
*.rc
*.obj
*.manifest
*.a
*~
*_
/third_party
/loki-lib

